<h1 class="text-primary">Add Event</h1>

<div class="callout">
    <div class="row">
        <div class="small-12 large-6 columns">
            {{> admin__events__event_form url=(concat base_url '/add') }}
        </div>
    </div>
</div>