<div class="splash-page">
	<div class="row align-middle">
		<div class="small-12 medium-6 columns">
			<div class="text-center">
				<img src="/images/frostgrave-banner.png" alt="Frostgrave"/>
				<h1>Frostgrave Roster Management</h1>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<h1>Access Key Not Recognised</h1>
			<p>The provided access key: {{ access_key }} is not currently valid.</p>
		</div>
	</div>
</div>