<div class="splash-page">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<div class="text-center">
				<img src="/images/frostgrave-banner.png" alt="Frostgrave"/>
				<h1>Frostgrave Roster Management</h1>
			</div>
		</div>
		<div class="small-12 medium-6 columns medium-text-right">
			<h1 class="text-success ">Success</h1>
			<p class="lead">Your new password has been set.</p>
            <p>Please use it to login in future</p>
            <a class="button success" href="/">Continue</a>
		</div>
	</div>
</div>