<div class="splash-page">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="text-center">
                <img src="/images/frostgrave-banner.png" alt="Frostgrave"/>
                <h1>Frostgrave Roster Management</h1>
            </div>
        </div>
        <div class="small-12 medium-6 columns medium-text-right">
            <h1 class="text-alert ">Forbidden</h1>
            <p class="lead">Sorry, you do not have permission to access this page.</p>
            <p>If you have requested a login, then please be patient whilst the request is processed.</p>
        </div>
    </div>
</div>
