<div class="splash-page">
	<div class="row align-middle">
		<div class="small-12 medium-6 columns">
			<div class="text-center">
				<img src="/images/frostgrave-banner.png" alt="Frostgrave"/>
				<h1>Frostgrave Roster Management</h1>
			</div>
		</div>
		<div class="small-12 medium-6 columns medium-text-center">
			<h1 class="text-success ">Account Requested.</h1>
			<p class="lead">
				Your account has been requested.
			</p>
			<p>
				Once your request has been approved you will be able to log in with the
				email and password provided.
			</p>
		</div>

	</div>
</div>