@import 'settings';
@import 'foundation';

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts";
@import "font-awesome";

@include foundation-everything(true);

body, html {
  min-height: 100%;

}

.wrapper-container {
  height: 100%;
}

.inline {
  display: inline-block;
}

.callout {
  border: none;
}

.spaced {
  margin-bottom: $global-margin;
  padding-bottom: $global-padding;
}

.splash-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url('/images/frostgrave-background.jpg') no-repeat center 15%;
  background-size: cover;

  & > .row {
    padding: 2 * $global-padding;
    background-color: rgba($white, 0.75);
  }
}

.main-container {
  min-height: 100%;

  .main {
    min-height: 100%;
    overflow-y: auto;
    padding: $global-padding;

    background: $light-gray;
  }

  .sidebar-menu {
    min-height: 100%;
    overflow-y: auto;
    background: $black;
    color: $white;
    padding: $global-padding;
  }

}

@each $name, $color in $foundation-palette {
  .text-#{$name} {
    color: $color
  }
}

.spell {
  height: 100%;
  position: relative;
  padding-bottom: 2.3rem;

  .base-row {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.clickable {
  cursor: pointer;
}

.upload-image {
  background:center center;
  background-size: cover;

  position: relative;
  max-width: 100%;
  cursor: pointer;

  &:hover::before {
    background-color: rgba(0,0,0,0.4);
  }

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color 300ms ease-in-out;
    padding-top: 133%;
  }

  & > .dropzone {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > .message {
      max-width: 80%;
      margin: auto;
      text-align: center;
      padding: $global-padding;
      background-color: rgba(0,0,0,0.4);
      color: $white;
    }

    &.active {
      border-color: map-get($foundation-palette, 'success');

      .message {
        color: map-get($foundation-palette, 'success');
      }
    }

    &.reject {
      border-color: map-get($foundation-palette, 'alert');

      .message {
        color: map-get($foundation-palette, 'alert');
      }
    }
  }

}

