<div class="splash-page">
    <div class="row align-middle">
        <div class="small-12 medium-6 columns">
            <div class="text-center">
                <img src="/images/frostgrave-banner.png" alt="Frostgrave"/>
                <h1>Frostgrave Roster Management</h1>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <h1 class="text-alert">
                Server Error <small>{{ error.status }}</small>
            </h1>
            <p class="lead">{{ message }}</p>
            <pre>{{ error.stack }}</pre>
        </div>
    </div>
</div>