<h1 class="text-alert">Confirm Delete of School {{ school.name }}</h1>
<form action="/admin/spells/delete-school/{{ school._id }}" method="post">
    <div class="row">
        <div class="columns small-6">
            <a href="/admin/spells" class="button alert">Cancel</a>
        </div>
        <div class="columns small-6 text-right">
            <button type="submit" class="button primary">Delete</button>
        </div>
    </div>
</form>