{{#define main }}
    <div class="row expand">
        <div class="small-12 medium-4 large-3">
            {{#sidebar sidebar }}{{/sidebar}}
        </div>
        <div class="small-12 medium-8 large-9">
            {{#call modeHandler main }}{{/call}}
        </div>
    </div>
{{/define }}
