<template id='template-sidebar'>
    {{#define sidebar }}
        {{#each filters key=id }}
            {{# call filterType }}
        {{/each }}
        <hr>
        <a href="/user/account" onClick="setModeAccount">
            Account
        </a>
        {{#if admin}}
            <hr>
            <a href="/admin">
                Admin
            </a>
        {{/if }}
    {{/define }}
    
    {{#define filterGroup}}
        <nav class="filter-group {{ expanded }}">
            <a href="#" onClick="expandFilterGroup" data-filter-group="{{ id }}" >
                {{ label }}
            </a>
            <ul>
                {{#each filters key=id }}
                    {{#filter . }}
                {{/each }}
            </ul>
        </nav>
    {{/define }}
    
    {{#define filter }}
        <li class={{ selected }}>
            <a href="#" onClick="toggleFilter" data-filter="{{ id }}">
                {{ label }}
            </a>
        </li>
    {{/define }}
</template>